* {
    margin: 0;
}

body section {
    display: inline-flex
}
.projetos {
    padding: 10px;
    border: 1px solid salmon;
    display: inline-flex;
    flex-direction: column;
}

.lista {
    align-items: center;
    display: inline-flex;
    flex-direction: column; /* de cima para baixo verticalmente */
    flex-wrap: nowrap; /* não move quando redimenciona */
    justify-content: center;
    gap: 3px;
    border: 1px solid brown;
    position: relative;
    padding: 20px;

}

/* #to_do {
    align-items: end;
}  this didn't work */

.tarefa {
    display: flex;
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
    align-items: center;
    border-radius: 50px;
    padding: 10px;
    width:fit-content;
    justify-content: space-around;
}

.tarefa-itens {
    margin: 0px 10px 0px 10px;
}

header { 
    background-color: grey;
    padding: 50px;
    display: block;
}

footer {
    display: block;
    margin-top: auto; 
    background-color: grey;
    padding: 25px;
    text-align: center;
    color: white;
} 

button.tarefa-itens {
    padding: 8px;
    border-radius: 15px;
    border: 1px solid grey;
}